{name, "cowboy"}.
{authors, ["Loïc Hoguin <essen@dev-extend.eu>","Anthony Ramine <nox@dev-extend.eu>","Hans Ulrich Niedermann <hun@n-dimensional.de>"]}.
{description, "Small, fast, modular HTTP server"}.
{homepage, "https://github.com/extend/cowboy"}.
{rebar_compatible, true}.
{license, "MIT", "LICENSE"}.
{url, {git, "https://github.com/extend/cowboy.git", {branch, "master"}}}.
{applications, [cowboy]}.
